html {
	background-color: rgb(252, 249, 208);
}

.App {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

h1 {
	color: #333;
}

.canvas {
	width: 750px;
	height: 500px;
}

@media only screen and (max-width: 700px) {
	html {
		background-color: lightblue;
	}

	h1 {
		font-size: 1rem;
	}
	.webcam {
		width: 300px;
		height: 200px;
	}

	.canvas {
		width: 300px;
		height: 200px;
	}
}
